.normal{
    background-color: #e2ea8f;
}
.grass{
    background-color: #14A06F;
}
.fire{
    background-color: #f09000;
}
.water{
    background-color: #220dc1;
}
.electric{
    background-color: #f1ed0c;
}
.ice{
    background-color: #61b6eb;
}
.ground{
    background-color: #bdca00;
}
.flying{
    background-color: #bc5cf7;
}
.poison{
    background-color: #b1049d;
}
.fighting{
    background-color: #bf0d0d;
}
.psychc{
    background-color: #d54b97;
}
.dark{
    background-color: #72523e;
}
.rock{
    background-color: #cfc60d;
}
.bug{
    background-color: #98b021;
}
.ghost{
    background-color: #780eba;
}
.steel{
    background-color: #abbfb8;
}
.dragon{
    background-color: #4e00a8;
}
.fairy{
    background-color: #eab1d4;
}




.pokemons{
    display: grid; /* em grade */
    grid-template-columns: 1fr; /* uma coluna pro menor tamanho possivel */
    list-style: none; 
    padding: 0;
    margin: 0;
}


.pokemon{
    display: flex;
    flex-direction: column; /* imagem encaixa embaixo do texto */
    margin: 0.5rem;
    padding: 1rem; /* baixo/esq */
    border-radius: 1rem; /* arredondado */
}

.pokemon .number{
    color: #0d8159;
    opacity: 0.8;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name{
    text-transform: capitalize; /* letra maiuscula no nome do pokemon */
    color: #ffff;
    margin-bottom: .25rem;
}

.pokemon .detail{
    display: flex;
    flex-direction: row; /* alinha a imagem com a lista lado a lado */
    align-items: center; /* alinha o texto e a imagem no centro horizontal */
    justify-content: space-between; /* da um espacinho entre eles */
}

.pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none; /* pra n ter a numeracao do lado */
}

.pokemon .detail .types .type{
    color: #ffff;
    padding: .25rem .5rem; /* 0.5 na esq e 1 embaixo */
    font-size: .625rem;
    margin: .25rem;
    border-radius: 1rem; /* arredondar */
    filter: brightness(1.1); /* 10% a mais */
    text-align: center;
}

.pokemon .detail img{
    max-width: 100%; /* a imagem n ultrapassa os 100% do quadrado */
    height: 70px;
    align-self: flex-end; /* alinha so a imagem a direita */
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button{
    padding: .25rem .5rem; /* 0.5 na esq e 1 embaixo */
    font-size: .625rem;
    margin: .25rem 0;
    color: #ffff;
    background-color: #4e00a8;
    border: none;
    border-radius: 1rem;
}


/* -------MEDIA CARE-------- */
@media screen and (min-width: 380px){ /* a partir do momento q a tela cresce a partir de 380px */
    .pokemons{
        grid-template-columns: 1fr 1fr; /*  cada linha tem 2 frames = 2 colunas */
    }
}

@media screen and (min-width: 576px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr; /* pra telas maiores, cabem mais frames/quadradinhos */
    }
}

@media screen and (min-width: 992px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr; /* pra telas maiores, cabem mais frames/quadradinhos */
    }
}

