.pokemons{
    display: grid; /* em grade */
    grid-template-columns: 1fr; /* uma coluna pro menor tamanho possivel */
    list-style: none; 
    padding: 0;
    margin: 0;
}


.pokemon{
    display: flex;
    flex-direction: column; /* imagem encaixa embaixo do texto */
    margin: 0.5rem;
    padding: 1rem; /* baixo/esq */
    border-radius: 1rem; /* arredondado */
    background-color: #14A06F;
}

.pokemon .number{
    color: #0d8159;
    opacity: 0.8;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name{
    color: #ffff;
    margin-bottom: .25rem;
}

.pokemon .detail{
    display: flex;
    flex-direction: row; /* alinha a imagem com a lista lado a lado */
    align-items: center; /* alinha o texto e a imagem no centro horizontal */
    justify-content: space-between; /* da um espacinho entre eles */
}

.pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none; /* pra n ter a numeracao do lado */
}

.pokemon .detail .types .type{
    background-color: #15b67d;
    color: #ffff;
    padding: .25rem .5rem; /* 0.5 na esq e 1 embaixo */
    font-size: .625rem;
    margin: .25rem;
    border-radius: 1rem; /* arredondar */

}

.pokemon .detail img{
    max-width: 100%; /* a imagem n ultrapassa os 100% do quadrado */
    height: 70px;
    align-self: flex-end; /* alinha so a imagem a direita */
}


/* -------MEDIA CARE-------- */
@media screen and (min-width: 380px){ /* a partir do momento q a tela cresce a partir de 380px */
    .pokemons{
        grid-template-columns: 1fr 1fr; /*  cada linha tem 2 frames = 2 colunas */
    }
}

@media screen and (min-width: 576px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr; /* pra telas maiores, cabem mais frames/quadradinhos */
    }
}

@media screen and (min-width: 992px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr; /* pra telas maiores, cabem mais frames/quadradinhos */
    }
}